---
layout: default
title: Fire Escape Films
permalink: /
redirect_from:
  - /index.html
  - /home/
---



<main>
  {% include hero-section.html %}

  <!-- <section class="section-featured">
    <div class="container">
      <h2 class="heading-featured-in">As featured in</h2>
      <div class="logos">
        <img src="img/logos/techcrunch.png" alt="Techcrunch logo" />
        <img
          src="img/logos/business-insider.png"
          alt="Business Insider logo"
        />
        <img
          src="img/logos/the-new-york-times.png"
          alt="The New York Times logo"
        />
        <img src="img/logos/forbes.png" alt="Forbes logo" />
        <img src="img/logos/usa-today.png" alt="USA Today logo" />
      </div>
    </div>
  </section> -->

  {% include GetInvolved.html %}

  <section class="section-meals" id="films">
    <div class="container center-text">
      <span class="subheading">Student Films</span>
      <h2 class="heading-secondary">
        Autumn Quarter Productions
      </h2>
    </div>

    <div class="container">



    <!-- 
      START of Carousel
    -->
    {% assign carouselItems = site.carousel | sort: 'order' %}
    <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
      
      <!-- Creates the slide indicators at the bottom of the carousel. -->
      <div class="carousel-indicators">
        {% for item in site.carousel %}
          {% assign loopIndex = forloop.index %}
          {% if loopIndex == 1 %}
            <button type="button" data-bs-target="#homeCarousel" 
                    data-bs-slide-to="{{ loopIndex | minus: 1 }}" class="active" aria-current="true" 
                    aria-label="Slide {{ loopIndex }}"></button>
          {% else %}
            <button type="button" data-bs-target="#homeCarousel" 
                    data-bs-slide-to="{{ loopIndex | minus: 1 }}" aria-label="Slide {{ loopIndex }}"></button>
          {% endif %}
        {% endfor %}
      </div>

      <!-- 
        This initializes the carousel slides (which are provided as Markdown files in `_carousel` directory). 
      -->
      <div class="carousel-inner">
        {% assign firstItem = true %}
        {% for item in carouselItems %}
          
          {% if firstItem == true %}
          <div class="carousel-parent carousel-item text-center active">
          {% else %}
          <div class="carousel-parent carousel-item text-center">
          {% endif %}

            <div class="carousel-bg" style="background-image: url('/image/carousel/{{ item.image }}');"></div>
            <div class="carousel-content">
              <img src="/image/carousel/{{ item.image }}" class="img-fluid carousel-img">
              <div class="carousel-caption d-md-block">
                <h5 class="carousel-text">{{ item.title }}</h5>
                <p class="carousel-text">{{ item.caption }}</p>
              </div>
            </div>
            
          </div>
          {% assign firstItem = false %}
        {% endfor %}
      </div>

      <!-- 
        Next/Previous slide buttons. 
      -->
      <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
    <!-- 
      END of Carousel 
    -->


    </div>
    <div class="container all-recipes">
      <a href="https://www.youtube.com/channel/UCnNU7ciC2bC70N67ACKmmPA" class="link">See all films &rarr;</a>
    </div>
  </section>

  <section class="section-equipment" id="equipment">
    <div class="container">
      <span class="subheading" id="equipment-title">Equipment</span>
      <h2 class="heading-secondary">
        Logan Center Equipment
      </h2>
    </div>

    <div class="container">
      <div class="gallery-gears">
      <figure class="gallery-item">
        <img
          src="image/equipment/cameras.jpg"
          alt="Vintage Cinema Camera"
        />
        <!-- <figcaption>Caption</figcaption> -->
      </figure>
      <figure class="gallery-item">
        <img
          src="image/equipment/lenses.jpg"
          alt="Lenses"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/equipment/lights.jpg"
          alt="Studio Lights"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/equipment/mics.jpg"
          alt="Microphones"
        />
      </div>
    </div>

    <div class="container grid grid--4-cols">
      <div class="feature">
        <ion-icon class="feature-icon" name="videocam-outline"></ion-icon>
        <p class="feature-title">Cameras</p>
        <p class="feature-text">
          We have SONY A7S3, Blackmagic Pocket Cinema Camera 6K, Canon C100, Panasonic GH5, Canon 5D Mark IV, and more.
        </p>
      </div>
      <div class="feature">
        <ion-icon class="feature-icon" name="aperture-outline"></ion-icon>
        <p class="feature-title">Lenses</p>
        <p class="feature-text">
          We have Rokinon Cinema lenses, SONY G Master lenses, Canon lenses. Both ZOOM and Prime lenses are available.
        </p>
      </div>
      <div class="feature">
        <ion-icon class="feature-icon" name="flashlight-outline"></ion-icon>
        <p class="feature-title">Lights</p>
        <p class="feature-text">
          We have LED light panels, softboxes, light stands, light modifiers, light diffusers, and more.
        </p>
      </div>
      <div class="feature">
        <ion-icon class="feature-icon" name="mic-outline"></ion-icon>
        <p class="feature-title">Audio</p>
        <p class="feature-text">
          We have 6 audio kits each includes a shotgun mic, a headset, cables, a mic softer, a boom pole, and a recorder, and some additional Lav mics.
        </p>
      </div>
    </div>
  </section>

  {% include SubscribeForm.html %}
</main>

