 <section class="section-meals" id="films">
    <div class="container center-text">
      <span class="subheading">Student Films</span>
      <h2 class="heading-secondary">
        Autumn Quarter Productions
      </h2>
    </div>

    <div class="container">



    <!-- 
      START of Carousel
    -->
    {% assign carouselItems = site.carousel | sort: 'order' %}
    <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
      
      <!-- Creates the slide indicators at the bottom of the carousel. -->
      <div class="carousel-indicators">
        {% for item in site.carousel %}
          {% assign loopIndex = forloop.index %}
          {% if loopIndex == 1 %}
            <button type="button" data-bs-target="#homeCarousel" 
                    data-bs-slide-to="{{ loopIndex | minus: 1 }}" class="active" aria-current="true" 
                    aria-label="Slide {{ loopIndex }}"></button>
          {% else %}
            <button type="button" data-bs-target="#homeCarousel" 
                    data-bs-slide-to="{{ loopIndex | minus: 1 }}" aria-label="Slide {{ loopIndex }}"></button>
          {% endif %}
        {% endfor %}
      </div>

      <!-- 
        This initializes the carousel slides (which are provided as Markdown files in `_carousel` directory). 
      -->
      <div class="carousel-inner">
        {% assign firstItem = true %}
        {% for item in carouselItems %}
          
          {% if firstItem == true %}
          <div class="carousel-parent carousel-item text-center active">
          {% else %}
          <div class="carousel-parent carousel-item text-center">
          {% endif %}

            <div class="carousel-bg" style="background-image: url('/image/carousel/{{ item.image }}');"></div>
            <div class="carousel-content">
              <img src="/image/carousel/{{ item.image }}" class="img-fluid carousel-img">
              <div class="carousel-caption d-md-block">
                <h5 class="carousel-text">{{ item.title }}</h5>
                <p class="carousel-text">{{ item.caption }}</p>
              </div>
            </div>
            
          </div>
          {% assign firstItem = false %}
        {% endfor %}
      </div>

      <!-- 
        Next/Previous slide buttons. 
      -->
      <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
    <!-- 
      END of Carousel 
    -->


    </div>
    <div class="container all-recipes">
      <a href="https://www.youtube.com/channel/UCnNU7ciC2bC70N67ACKmmPA" class="link">See all films &rarr;</a>
    </div>
  </section>