<footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#" class="footer-logo">
            <img class="logo" alt="Fire Escape Films logo" src="/image/fe-logo-white.png" />
          </a>

          <ul class="social-links">
            <li>
              <a class="footer-link" href="https://www.instagram.com/fireescapefilms/"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="https://www.facebook.com/groups/811571195625648"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            
          </ul>

          <p class="copyright">
            Copyright &copy; <span class="year">2025</span> by Fire Escape Films.
            All rights reserved.
          </p>
        </div>

        <div class="address-col">
          <p class="footer-heading">Contact us</p>
          <address class="contacts">
            <p class="address">
              915 E 60th St, Chicago, IL 60637
            </p>
            <p>
              
              <a class="footer-link" href="mailto:fecommittee@gmail.com"
                >fecommittee@gmail.com</a
              >
            </p>
          </address>
        </div>

        <nav class="nav-col">
          <p class="footer-heading">Resources</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="https://uchicago.webcheckout.net/">Patron Portal</a></li>
            <li><a class="footer-link" href="https://www.logancenter.uchicago.edu/resources/techandmedia">Logan Media Center</a></li>
          </ul>
        </nav>

      </div>
    </footer>
