<section class="section-hero top-section">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary" id="first-heading">
          Make a movie this quarter with Fire Escape Films! GO
        </h1>
        <p class="hero-description">
          We have two production cycles each year: fall quarter production, and the winter-spring quarter.
          Each director is assigned a crew to produce their short film. There are various roles for students, just like in the industry!
        </p>
        <a href="#cta" class="btn btn--full margin-right-sm"
          >Join a production</a
        >

        <a href="#how" class="btn btn--outline">Learn more &darr;</a>
      </div>
      <div class="hero-img-box">
        <picture>
          <source srcset="/image/fe-hero.png" type="image/png" />
          <img
            src="/image/fe-hero.png"
            class="hero-img"
            alt="Bike, Ghost Story, Eunomia"
          />
        </picture>
      </div>
    </div>
  </section>