<section class="section-cta" id="cta">
    <div class="container">
      <div class="cta">
        <div class="cta-text-box">
          <h2 class="heading-secondary">Sign up for our email list!</h2>
          <p class="cta-text">
            Subscribe to our newsletter and never miss any latest information!
            Join a crew and start making a film this quarter!
          </p>

          <form class="cta-form" name="sign-up" netlify action="https://getform.io/f/f5da4732-788a-497b-9d5f-48ac0f23883d" method="POST">
            <div>
              <label for="full-name">Full Name</label>
              <input
                id="full-name"
                type="text"
                placeholder="John Smith"
                name="full-name"
                required
              />
            </div>

            <div>
              <label for="email">Email address</label>
              <input
                id="email"
                type="email"
                placeholder="me@example.com"
                name="email"
                required
              />
            </div>

            <div>
              <label for="additional-info">Additional Information</label>
              <input id="additional-info" name="additional-words" />
            </div>

            <button class="btn btn--form">Sign up now</button>

            <!-- <input type="checkbox" />
            <input type="number" /> -->
          </form>
        </div>
        <div
          class="cta-img-box"
          role="img"
          aria-label="A production setup"
        ></div>
      </div>
    </div>
  </section>