<section class="section-testimonials" id="testimonials">
    <div class="testimonials-container">
      <span class="subheading">Testimonials</span>
      <h2 class="heading-secondary">Once you try it, you'll fall in love</h2>

      <div class="testimonials">
        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of customer Dave Bryson"
            src="img/customers/dave.jpg"
          />
          <blockquote class="testimonial-text">
            I joined with no experience, but now I am a professional DP thanks to Fire Escape Films' productions!
          </blockquote>
          <p class="testimonial-name">&mdash; Dave Bryson</p>
        </figure>

        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of customer Ben Hadley"
            src="img/customers/ben.jpg"
          />
          <blockquote class="testimonial-text">
            I never believed I could make a film, but Fire Escape Films gave me the opportunity to do so!
          </blockquote>
          <p class="testimonial-name">&mdash; Ben Hadley</p>
        </figure>

        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of customer Steve Miller"
            src="img/customers/steve.jpg"
          />
          <blockquote class="testimonial-text">
            I never thought I would be dealing with cameras and lenses, but Fire Escape Films gave me the opportunity to make a film out of a bunch of advanced gears!
          </blockquote>
          <p class="testimonial-name">&mdash; Steve Miller</p>
        </figure>

        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of customer Hannah Smith"
            src="img/customers/hannah.jpg"
          />
          <blockquote class="testimonial-text">
            I got a role to act in a film, and I am so grateful to Fire Escape Films for letting me know my talent of acting!
          </blockquote>
          <p class="testimonial-name">&mdash; Hannah Smith</p>
        </figure>
      </div>
    </div>

    <div class="gallery">
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-1.jpg"
          alt="behind the scene 1"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-2.jpg"
          alt="behind the scene 2"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-3.jpg"
          alt="behind the scene 3"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-4.jpg"
          alt="behind the scene 4"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-5.jpg"
          alt="behind the scene 5"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-6.jpg"
          alt="behind the scene 6"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-7.jpg"
          alt="behind the scene 7"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-8.jpg"
          alt="behind the scene 8"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-9.jpg"
          alt="behind the scene 9"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-10.jpg"
          alt="behind the scene 10"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-11.jpg"
          alt="behind the scene 11"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="image/gallery/gallery-12.jpg"
          alt="behind the scene 12"
        />
      </figure>
    </div>
  </section>